@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --roboto: 'Roboto';
    /* Roboto regular font*/
}

/*——————> Navigation Bar <——————*/
.header .navbar .navbar-brand {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
    font-family: var(--roboto);
}

.header .navbar .navbar-brand em {
    font-style: normal;
    font-size: 32px;
    color: #f7c552;
}

.header .navbar .navbar-toggler {
    background-color: #f7c552;
    padding: 5px 6px;
}

.header .navbar .navbar-icon {
    background: white;
    margin: 4px;
    display: block;
    width: 22px;
    height: 2px;
}

.header .navbar .navbar-collapse {
    margin: 0 -32px;
}

.header .navbar-nav .nav-item {
    background-color: #ffffffed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.header .navbar-nav .nav-link {
    color: #343434c4;
    font-size: 13px;
    padding: 5px 0px;
}

.header .navbar-nav .nav-link:hover {
    /* remove bootstrap hover */
}

/*——————> Main Section <——————*/
/*——————> Banner Section <——————*/
.banner {
    background: url(../img/banner_bg.jpg) no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.banner .banner-text {
    color: white;
    padding-top: 35vh;
    font-family: var(--roboto);
}

.banner .banner-text h2 em {
    font-style: normal;
    color: #F89624;
    font-weight: bolder;
}

.banner .banner-text h2 span {
    color: #33C1CF;
    font-weight: bolder;
}

.banner .banner-text p {
    font-size: 14px;
}

.banner .banner-text .btn {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 13px;
}
/*——————> About Section <——————*/
.about{
    background: url('../img/about-bg.jpg') no-repeat fixed center center;
    background-size: cover;
    padding: 150px 0;
}
.about .service-item .service-icon{
    width: 110px;
    height: 110px;
    background: #F7C552;
    border-radius: 50%;
    margin: auto;
    line-height: 100px;
    border: 3px solid white;
}
.about .service-item h4{
    font-size: 17px;
    margin-top: 45px;
    margin-bottom: 30px;
}
.about .service-item p{
    font-size: 14px;
    margin-top: 20px;
}
.about .service-item .btn{
    border-radius: 30px;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 70px;
    background-color: #33C1CF;
}
/*——————> Portfolio Section <——————*/
.portfolio .portfolio-text{
    background-color: #33C1CF;
}
.portfolio .portfolio-heading{
    text-align: center;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.portfolio .portfolio-heading h4{
    font-size: 20px;
    font-weight: 700;
}
.portfolio .portfolio-heading hr{
    width: 270px;
    background-color: #fff;
    margin: 20px auto;
}
.portfolio .portfolio-heading p{
    font-size: 14px;
}
.portfolio .portfolio-categories {
    margin-top: 60px;
}
.portfolio .portfolio-categories ul a {
    color: #fff;
    font-size: 14px;
}
.portfolio .portfolio-categories .active{
    color: #F7C552;
}
.portfolio .portfolio-gallery{
    padding-top: 30px;
}
.portfolio .portfolio-gallery div{
    margin-bottom: 30px;
}
.portfolio .portfolio-gallery div img{
    display: block;
    margin: auto;
}

/*------> Responsive <------*/

/*——————> Small Device <——————*/
@media (min-width: 576px){
}
/*——————> Medium Device <——————*/
@media (min-width: 768px) {
    .header .navbar-nav .nav-item {
        background-color: transparent;
        border: none;
    }

    .header .navbar-nav .nav-link {
        color: #fff;
        padding: 0;
    }

    .banner .banner-text p {
        padding: 0 115px;
    }
    .portfolio .portfolio-gallery{
        padding-top: 15px;
    }
}

/*——————> Large Device <——————*/
@media (min-width: 992px) {
    .banner .banner-text p {
        padding: 0 235px;
    }
    .portfolio .portfolio-heading{
        text-align: left;
        padding-top: 200px;
        padding-bottom: 200px;
        background-color: #33C1CF;
        height: 732px;
        margin-left: -100vh;
        padding-left: 100vh;
    }
    .portfolio .portfolio-heading hr{
        margin-left: 0;
        margin-right: 0;
    }
    .portfolio .portfolio-heading p{
        padding-right: 70px;
    }
    .portfolio .portfolio-categories ul a{
        padding-left: 0;
    }
    .portfolio .portfolio-gallery{
        padding-left: 30px;
        padding-top: 30px;
    }
    .portfolio .portfolio-gallery div{
        margin: 0 -16px;
    }
}

/*——————> Extra Large Device <——————*/
@media (min-width: 1200px){
    .portfolio .portfolio-text{
        padding: 0;
    }
}